<nav class="navbar navbar-expand-lg navbar-dark  light-blue darken-3">
    <div class="container">
        <a class="navbar-brand" href="/">老魏杂谈</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
{#                <li class="nav-item active">#}
{#                    <a class="nav-link" href="#">主页#}
{#                        <span class="sr-only">(current)</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Features</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Pricing</a>#}
{#                </li>#}
{#                <li class="nav-item btn-group">#}
{#                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"#}
{#                       aria-haspopup="true" aria-expanded="false">Dropdown#}
{#                    </a>#}
{#                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">#}
{#                        <a class="dropdown-item" href="#">Action</a>#}
{#                        <a class="dropdown-item" href="#">Another action</a>#}
{#                        <a class="dropdown-item" href="#">Something else here</a>#}
{#                    </div>#}
{#                </li>#}
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="搜索" aria-label="Search">
            </form>
        </div>
    </div>
</nav>
